#smallList{
    display: none;
}

@media screen and (max-width: 1279px) {
    *{
        font-size: 9px;
    }

    .navbar{
        min-height: 30px;
    }

    #menuUl a {
        padding: 5px 8px;
        color: #fff;
    }

    #menuUl a:hover {
        background: #35D59D;
    }

    .menuIcon {
        font-size: 16px;
    }

    .unameLogoutBox {
        float: right;
        padding: 5px 0px;
        color: #fff;
    }

    .unameLinkLogout {
        text-decoration: none;
        color: #fff;
        margin-right: 15px;
        border: 0px;
        background: none;
        display: inline;
    }

    .unameLinkLogout:hover, .unameLinkLogout:focus {
        text-decoration: underline;
        outline: none;
    }

    .unameLink {
        text-decoration: none;
        color: #fff;
        margin-right: 15px;
    }

    .unameLink:last-child {
        margin-right: 0px;
    }

    .unameLink:hover {
        text-decoration: underline;
        color: #fff;
    }

    .logo {
        background: #fff;
        height: 30px;
        width: 100px;
    }

    #mobileView{
        margin-bottom: 5px;    
    }

    .contentWrapper {
        top: 37px;
        right: 5px;
        left: 5px;
        bottom: 35px;
    }

    .rightPane{
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .leftPane{
        width: 100%;
        height: 100%;
        position: relative;
        border: none;
        margin-bottom: 5px;
        background: #00AB6F;
        border-radius: 0px;
        overflow-y: scroll;
        /*overflow-x: hidden;*/
    }

    .leftPane ul{
        list-style: none;
    }

    .footer {
        text-align: center;
        color: #fff;
        padding: 5px;
        margin-top: 3px;
    }

    /**********************login page********************************/

    .login_heading {
        background-color: #006F48;
        padding: 8px;
        border-radius: 3px 3px 0px 0px;
        -moz-border-radius: 3px 3px 0px 0px;
        -webkit-border-radius: 3px 3px 0px 0px;
    }

    .panel-title {
        color: #fff;
        font-size: 9px;
        font-weight: bold;
    }

    .panel_login {
        position:fixed;
        top:50%;
        left:50%;
        margin-top: -90px;
        margin-left: -175px;
        width: 350px;
        height: 180px;
        box-shadow: 0 0 5px #aaa;
        border: none;
    }

    .input_wrap input {
        font-size: 9px;
        margin-top: 15px;
        border: 1px solid #aaa;
        padding: 2px;
        height: 25px;
        position: relative;
    }

    .inner-addon {
        position: relative;
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 7px;
        pointer-events: none;
    }

    .left-addon .glyphicon {
        left: 0;
    }

    .right-addon .glyphicon {
        right: 0;
    }

    .left-addon input {
        padding-left: 20px;
    }

    .right-addon input {
        padding-right: 20px;
    }

    .btn_login_override {
        font-size: 9px;
        outline: 0;
        padding: 3px 20px;
        background: #006F48;
        border: 0;
        color: #fff;
        display: block;
        margin: 8px 0px;
    }
    /******************Login Page complete*********************/


}

@media screen and (max-width:980px){
    *{
        font-size: 8px;
    }

    #menuItem #menuUl{
        display: none;
    }

    .unameLogoutBox{
        display: none;
    }

    #smallList{
        display: inline;
    }

    .smallList{
        background: #00AB6F;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 3px 8px;
        margin-top: 2px;
        float:right;
    }

    .smallList:hover{
        color: #00AB6F;
    }

    #menuSmall{
        outline: none;
    }

    .menuListSmall a{
        color: #fff;
        text-decoration: none;
    }

    .menuSmallIcon{
        font-size: 12px;
        color: #fff;
    }

    .menuItemSmall{
        padding: 5px 10px;
    }

    .menuItemSmall:hover{
        background: #35D59D;
        cursor: pointer;
    }

    /**********************login page********************************/

    .panel-title {
        color: #fff;
        font-size: 8px;
        font-weight: bold;
    }

    .panel_login {
        position:fixed;
        top:50%;
        left:50%;
        margin-top: -80px;
        margin-left: -140px;
        width: 280px;
        height: 160px;
        box-shadow: 0 0 5px #aaa;
        border: none;
    }

    .panel_login .panel-body{
        margin: 0px;
        padding: 0px 10px;
    }

    .input_wrap input {
        font-size: 8px;
        margin-top: 10px;
        border: 1px solid #aaa;
        padding: 2px;
        height: 20px;
        position: relative;
    }

    .inner-addon {
        position: relative;
    }

    .inner-addon .glyphicon {
        position: absolute;
        padding: 6px;
        pointer-events: none;
    }

    .left-addon .glyphicon {
        left: 0;
    }

    .right-addon .glyphicon {
        right: 0;
    }

    .left-addon input {
        padding-left: 18px;
    }

    .right-addon input {
        padding-right: 18px;
    }

    .btn_login_override {
        font-size: 8px;
        outline: 0;
        padding: 3px 20px;
        background: #006F48;
        border: 0;
        color: #fff;
        display: block;
        margin: 8px 0px;
    }
    /******************Login Page complete*********************/
}


@media screen and (min-width: 1280px) {
    .leftPane{
        width: 19.6%;
        height: 100%;
        float: left;
        position: relative;
        border: none;
        background: #00AB6F;
        border-radius: 0px;
    }

    .leftPane ul{
        list-style: none;
    }
    .rightPane{
        width: 97%;
        height: 100%;
        overflow: auto;
    }
}

