* {
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
}

body {
    font-size: 12px;
    position: relative;
    font-weight: bold;
}

.navbar {
    background: #006F48;
    border: none;
    margin-bottom: 5px;
    border-radius: 0px;
    border-bottom: 1px solid #60D5AC;
}

.navbarOverRide {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.navbar-collapse {
    padding: 0px;
}

.logo {
    background: #fff;
    height: 50px;
    width: 150px;
}

#menuUl a {
    color: #fff;
}

#menuUl a:hover {
    background: #35D59D;
}

#arrowUp {
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #00AB6F;
    margin: 0 auto;
}

#accMgnt .menu_list {
    display: none;
}

#accMgnt:hover .menu_list {
    padding: 0;
    width: 150px;
    display: block;
    position: absolute;
    color: #fff;
    top: 42px;
    z-index: 1;
}

.menuIcon {
    font-size: 18px;
}

.menu_list div {
    border: none;
}

.menu_list a {
    outline: 0;
    color: #fff;
    display: block;
    width: 150px;
    padding: 10px 0 10px 20px;
    text-align: left;
    text-decoration: none;
    background: #00AB6F;
    border-bottom: 1px solid #60D5AC;
}

.subMenuListIcon {
    float: right;
    margin: 2px 10px 0px 0px;
}

.unameLogoutBox {
    float: right;
    padding: 15px 0px;
    color: #fff;
}

.unameLinkLogout {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
    border: 0px;
    background: none;
    display: inline;
}

.unameLinkLogout:hover, .unameLinkLogout:focus {
    text-decoration: underline;
    outline: none;
}

.unameLink {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.unameLink:last-child {
    margin-right: 0px;
}

.unameLink:hover {
    text-decoration: underline;
    color: #fff;
}

.contentWrapper {
    position: fixed;
    top: 60px;
    right: 5px;
    left: 5px;
    bottom: 55px;
    /*overflow-x: hidden;*/
    overflow-x: no-display;
    overflow-y: auto;
}

.navigationBox {
    height: 517px;
    width: 200px;
    position: fixed;
    top: 66px;
    left: 0px;
    right: 0px;
    bottom: 60px;
    background: #333;
    color: #fff;
    display: none;
}

.heading {
    background: #006F48;
    padding: 10px;
    color: #fff;
    margin-right: 5px;
}

.navHeadingIcon {
    float: right;
    cursor: pointer;
    margin: 2px 0px 0px 0px;
}

.navigationUl {
    list-style: none;
}

.navigationLi {
    margin-top: 1px;
    background: #888;
    padding: 5px 10px;
}

.navigationHeading {
    background: #006F48;
    padding: 10px;
    color: #fff;
}

#showHideBtn {
    position: absolute;
    right: 0px;
    top: 0px;
}

.navToggleBtn {
    color: #fff;
    font-size: 23px;
    background: #006F48;
    padding: 7px 14px;
}

.rightPane {
    width: 96%;
    height: 100%;
    float: right;
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    box-shadow: none;
}

.col-md-3 {
    background: #00AB6F;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.col-md-3:hover {
    opacity: .8;
}

.dashIcon {
    height: 128px;
    width: 128px;
    text-align: center;
    margin: 0 auto;
}

.dashIconOverlay {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #006F48;
    padding: 5px;
}

.dashIcon .dashIconOverlay {
    display: block;
}

.dashIconWrap a {
    color: #fff;
    text-decoration: none;
}

.dashIcon i {
    margin: 30px 0px;
    font-size: 64px;
    color: #fff;
}

.footer {
    text-align: center;
    color: #fff;
    padding: 5px;
    margin-top: 10px;
}

.navbarBottomOverride {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0px;
    border-top: 1px solid #60D5AC;
}

.menuListSmall {
    background: #00AB6F;
    position: absolute;
    right: 15px;
    top: 25px;
    display: none;
    z-index: 9;
}

/**********************login page********************************/

.login_heading {
    background-color: #006F48;
    padding: 10px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}

.panel-title {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

.panel_login {
    position:fixed;
    top:50%;
    left:50%;
    margin-top: -130px;
    margin-left: -225px;
    width: 450px;
    height: 260px;
    box-shadow: 0 0 5px #aaa;
    border: none;
}

.panel_login .panel-body{
    margin: 0px;
    padding-top: 0px;
}

.input_wrap input {
    margin-top: 30px;
    border: 1px solid #aaa;
    padding: 5px;
    height: 35px;
    position: relative;
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon {
    left: 0;
}

.right-addon .glyphicon {
    right: 0;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.btn_login_override {
    font-size: 12px;
    outline: 0;
    padding: 5px 30px;
    background: #006F48;
    border: 0;
    color: #fff;
    display: block;
    margin: 15px 0px;
}

.btn_login_override:hover,
.btn_login_override:focus {
    background: #00AB6F;
    color: #fff;
}

/******************Login Page complete*********************/

/******************UserPage********************************/
.createUser {
    float: right;
}

.createUser i {
    font-size: 15px;
    float: left;
    margin-right: 5px;
}

.createUser a:hover {
    text-decoration: underline;
}

.home:hover,.list:hover {
    text-decoration: underline;
}

.table_override {
    margin-bottom: 0px;
}

.thead_tr {
    background: #00AB6F;
}

.thead_tr th {
    text-align: center;
}

.tbody_tr {
    text-align: center;
}

.tbody_tr td {
    position: relative;
}

.tbody_tr td a {
    position: absolute;
    top: 0px;
    right: 50%;
    left: 50%;
    bottom: 0px;
}

.form_control_override {
    font-size: 12px;
    height: 25px;
    padding: 0px 5px;
}

.growlBox {
    position: absolute;
    top: 5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    z-index: 300;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.hideEditDelete {
    display: none;
}

.editDeleteBtn {
    background: #00AB6F;
    border: 0px;
    padding: 2px 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
}

.popupBg {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    display: none;
}

.popupContainer {
    height: 200px;
    width: 400px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.panel-info {
    border: 1px solid #60D5AC;
}

.panel-info > .panel-heading {
    background-color: #00AB6F;
}

#formClose a {
    float: right;
    color: #fff;
}

.loading {
    margin: 40px auto;
    height: 31px;
    width: 31px;
}

#loading {
    display: none;
}

#growlBox1 {
    display: none;
}

.fieldRequired {
    margin-bottom: 10px;
}

.pagination > li > a,
.pagination > li > span {
    color: #fff;
    background-color: #00AB6F;
    border-color: #60D5AC;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #60D5AC;
    border-color: #60D5AC;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #006F48;
    border-color: #60D5AC;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #fff;
    background-color: #00AB6F;
    border-color: #60D5AC;
}

.fieldcontain select {
    display: block;
    width: 100%;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 12px;
    height: 25px;
    padding: 0px 5px;
    margin-bottom: 5px;
}

.fieldcontain label{
    margin-top: 10px;
}