*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
}

#nav{
    background-color: #000;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border:none;
    border-bottom: 2px solid #555;
    margin-bottom: 10px;
}

#nav a{
    color:#ddd;
    outline: none;
}

#active_link{
    background-color: #555;
}

.dropdown-menu{
    background-color: #000;
}

.dropdown-menu > li > a:hover{
    background-color: #555;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    background-color: #555;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #555;
}


.dropdown-menu .divider{
    background-color: #555;
}

.sidebar{
    width: 20%;
    background-color: #ccc;
    position: fixed;
    right: 0px;
    bottom: 45px;
    top: 65px;
    display: none;
    z-index: 1;
}

.downloadOptions{
    width: 150px;
    background-color: #fff;
    position: fixed;
    right: 0px;
    top: 65px;
    display: none;
    z-index: 1;
}

.content-wrap{
    width: 100%;
    float: right;
    height: 1000px;
}

.table-wrap > .panel-default > .panel-body{
    padding: 0px;
}

.panel-default > .panel-heading {
    color: #ddd;
    background-color: #000;
}

.table_override{
    margin: 0px;
    /*table-layout: fixed;*/
    /*border: 1px solid #ddd;*/
}

.table_override thead{
    background-color: #555;
    color: #ddd;
}

.table_override thead tr th,
.table_override tbody tr td{
    border: 1px solid #888;
    text-align: center;
    /*    width: 10%;*/
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #d0d0d0;
}

.table-wrap > .panel-default > .panel-footer {
    color: #ddd;
    background-color: #000;
    /*border-top: 1px solid #000;*/
}

.addressBar{
    background-color: #d0d0d0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.addItem{
    float:right;
    background-color: #555;
}

.downloadBtnWrap{
    position: fixed;
    right: 15px;
    top:65px;
    padding: 4px 10px;
    background-color: #ccc;
    z-index: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#downloadLink{
    font-size: 20px;
    color: #000;
}

#downloadLink:hover{
    text-decoration: none;
    color: #333;
}

.downloadHeadingWrap{
    height: 30px;
    background-color: #555;
}

#headingFormat{
    display: none;
    text-align: center;
    margin: 0px;
    padding: 4px;
    color: #ccc;
}

#hideDownloadOption{
    font-size: 18px;
    color: #000;
}

#hideDownloadOption:hover{
    text-decoration: none;
    color: #333;
}

.hideDownloadOption{
    padding: 10px;
    /*float: left;*/
    background-color: #777;
    z-index: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.printIcons{
    color: #000;
    font-size: 120px;
    outline: none;
    padding: 0px;
    margin: 0px;
}

.printIcons:hover{
    text-decoration: none;
    color: #333;
}

.footer{
    border-top: 2px solid #555;
    width: 100%;
    background-color: #000;
    float: right;
    color: #ddd;
    margin-top: 10px;
    text-align: center;
    padding: 15px 0px;
}

.footer-fixed{
    position:fixed;
    bottom: 0px;
    border-top: 2px solid #555;
    width: 100%;
    background-color: #000;
    float: right;
    color: #ddd;
    margin-top: 10px;
    text-align: center;
    padding: 15px 0px;
}